body {
	max-width: 800px;
	margin: auto;
	padding-top: 20px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 2em;
}

.child {
	text-align: center;
}