{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<section class="child">
<div><h2>{{ sport.sportName }}</h2></div>

{% for item in items %}
	<div><a href="{{url_for('viewItem', sport_id=sport.id, item_id=item.id)}}"><h4>{{ item.name }}</h4></a> - ({{item.user_id}})</div>
{% endfor %}

</section>

<div><a href="{{url_for('addCatalogItem',sport_id=sport.id)}}"><button type="button">Add item</button></a></div>

<div><a href="{{url_for('editSport', sport_id=sport.id)}}"><button type="button">Edit Sport</button></a></div>

<div><a href="{{url_for('deleteSport', sport_id=sport.id)}}"><button type="button">Delete Sport</button></a></div>

{% endblock %}