<!DOCTYPE html>
<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
	<title>Udacity Item Catalog</title>

	<meta charset="utf-8">
</head>

<body>
	<nav class="container">
		<a href='/'><div>Catalog App</div></a>
		<div><a href="/login"><button type="button">Login</button></a></div>
		<div><a href="/sport/new"><button type="button">Add sport</button></a></div>
	</nav>

	<hr>

	<section class="container">
		<div>
			{% for sport in sports %}
				<a href="{{url_for('showSports',sport_id=sport.id)}}">{{sport.sportName}}</a>
				<br>
			{% endfor %}
		</div>
		<div>description of items go here</div>
	</section>

</body>
</html>